<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.bits_hyderabad.swd.swd">
    <!--
    android:icon="@drawable/logo"
    android:roundIcon="@mipmap/ic_launcher_round"
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".user.fragment.User_ConnectFragment"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity android:name=".user.activity.OrderGoodie"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".user.activity.ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.activity.Splash_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.activity.Profile"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".user.activity.User_Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme" />
        
        <provider
            android:authorities="in.ac.bits_hyderabad.swd.swd.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>